<div class="chestionar">
	<div class="intrebari">
		<h3>quiz</h3>
	</div>
	<div class="intrebarea_1">
		<ul class="single">
			<li><input type="checkbox" />r1</li>
			<li><input type="checkbox" />r3</li>
			<li><input type="checkbox" />r5</li>
		</ul>
	</div>
</div>